In [72]:
import pandas as pd

In [73]:
#converted spreadsheet into csv file and loaded into Jupyter Notebook
sale_data_load ="resources/Sales_Ops_Analyst.csv"

In [74]:
#laoding sales data csv into DF to explore
sales_df=pd.read_csv(sale_data_load)
sales_df.head()
sales_df.count()

Record_ID             5270
Created_Date          5270
Qualified_Date        5270
Closed_Date           5270
Revenue               5270
Region                5270
Segment               5269
Opportunity_Source    5270
Outbound              5270
dtype: int64

In [75]:

sales_df.notnull().sum()

Record_ID             5270
Created_Date          5270
Qualified_Date        5270
Closed_Date           5270
Revenue               5270
Region                5270
Segment               5269
Opportunity_Source    5270
Outbound              5270
dtype: int64

In [76]:
sales_df.dtypes

Record_ID              object
Created_Date           object
Qualified_Date         object
Closed_Date            object
Revenue               float64
Region                 object
Segment                object
Opportunity_Source     object
Outbound                 bool
dtype: object

In [77]:
sales_df

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound
0,a734U000000tRfRQAU,7/14/2021,7/16/2021,1/1/2022,2999.00,North America,Agency,Lead,False
1,a734U000000tQdAQAU,12/21/2021,12/21/2021,1/1/2022,957.00,North America,Agency,Self-Gen,True
2,a734U000000tKQyQAM,11/1/2021,11/2/2021,1/1/2022,940.45,North America,SMB,Lead,False
3,a734U000000tJF1QAM,12/2/2021,1/3/2022,1/1/2022,558.00,North America,SMB,BDR,True
4,a734U000000svbDQAQ,9/24/2021,9/28/2021,1/1/2022,364.00,North America,Agency,Lead,False
...,...,...,...,...,...,...,...,...,...
5265,a734U000000uTn5QAE,5/31/2022,6/17/2022,6/30/2022,99.00,North America,SMB,Trial,False
5266,a734U000000uRmUQAU,6/30/2022,6/30/2022,6/30/2022,99.00,Australia Pacific,Mid,Trial,False
5267,a734U000000uThvQAE,5/31/2022,6/23/2022,6/30/2022,89.00,North America,SMB,Lead,False
5268,a734U000000uUCAQA2,6/1/2022,6/22/2022,6/30/2022,71.00,North America,SMB,Trial,False
5269,a734U000000uSGZQA2,5/27/2022,7/1/2022,6/30/2022,49.00,Europe,SMB,Trial,False

In [78]:
sales_df.isnull().sum()

Record_ID             0
Created_Date          0
Qualified_Date        0
Closed_Date           0
Revenue               0
Region                0
Segment               1
Opportunity_Source    0
Outbound              0
dtype: int64

In [79]:
sales_df.dropna(inplace=True)

In [80]:
sales_df.notnull().sum()

Record_ID             5269
Created_Date          5269
Qualified_Date        5269
Closed_Date           5269
Revenue               5269
Region                5269
Segment               5269
Opportunity_Source    5269
Outbound              5269
dtype: int64

In [81]:
sales_df["Region"].unique()

array(['North America', 'Middle East', 'Europe', 'Australia Pacific',
       'Asia', 'Africa', 'Latin America'], dtype=object)

In [82]:
sales_df["Segment"].unique()

array(['Agency', 'SMB', 'Mid', 'Enterprise'], dtype=object)

In [83]:
sales_df["Opportunity_Source"].unique()

array(['Lead', 'Self-Gen', 'BDR', 'Trial', 'Unknown'], dtype=object)

In [84]:
sales_df["Opportunity_Source"].value_counts()["Unknown"]

65

In [85]:
sales_df[["Created_Date", "Qualified_Date", "Closed_Date"]] = sales_df[["Created_Date", "Qualified_Date", "Closed_Date"]].apply(pd.to_datetime)

In [86]:
sales_df

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound
0,a734U000000tRfRQAU,2021-07-14,2021-07-16,2022-01-01,2999.00,North America,Agency,Lead,False
1,a734U000000tQdAQAU,2021-12-21,2021-12-21,2022-01-01,957.00,North America,Agency,Self-Gen,True
2,a734U000000tKQyQAM,2021-11-01,2021-11-02,2022-01-01,940.45,North America,SMB,Lead,False
3,a734U000000tJF1QAM,2021-12-02,2022-01-03,2022-01-01,558.00,North America,SMB,BDR,True
4,a734U000000svbDQAQ,2021-09-24,2021-09-28,2022-01-01,364.00,North America,Agency,Lead,False
...,...,...,...,...,...,...,...,...,...
5265,a734U000000uTn5QAE,2022-05-31,2022-06-17,2022-06-30,99.00,North America,SMB,Trial,False
5266,a734U000000uRmUQAU,2022-06-30,2022-06-30,2022-06-30,99.00,Australia Pacific,Mid,Trial,False
5267,a734U000000uThvQAE,2022-05-31,2022-06-23,2022-06-30,89.00,North America,SMB,Lead,False
5268,a734U000000uUCAQA2,2022-06-01,2022-06-22,2022-06-30,71.00,North America,SMB,Trial,False
5269,a734U000000uSGZQA2,2022-05-27,2022-07-01,2022-06-30,49.00,Europe,SMB,Trial,False

In [87]:
sales_df["CreateDiff"] = (sales_df["Closed_Date"] - sales_df["Created_Date"]).dt.days

In [88]:
sales_df.head()

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound,CreateDiff
0,a734U000000tRfRQAU,2021-07-14,2021-07-16,2022-01-01,2999.00,North America,Agency,Lead,False,171
1,a734U000000tQdAQAU,2021-12-21,2021-12-21,2022-01-01,957.00,North America,Agency,Self-Gen,True,11
2,a734U000000tKQyQAM,2021-11-01,2021-11-02,2022-01-01,940.45,North America,SMB,Lead,False,61
3,a734U000000tJF1QAM,2021-12-02,2022-01-03,2022-01-01,558.00,North America,SMB,BDR,True,30
4,a734U000000svbDQAQ,2021-09-24,2021-09-28,2022-01-01,364.00,North America,Agency,Lead,False,99

In [89]:
sales_df["QualDiff"] = (sales_df["Closed_Date"] - sales_df["Qualified_Date"]).dt.days

In [97]:
#checking each unique Record_ID!
sales_df["Record_ID"].nunique()

5269

In [98]:
sales_df

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound,CreateDiff,QualDiff
0,a734U000000tRfRQAU,2021-07-14,2021-07-16,2022-01-01,2999.00,North America,Agency,Lead,False,171,169
1,a734U000000tQdAQAU,2021-12-21,2021-12-21,2022-01-01,957.00,North America,Agency,Self-Gen,True,11,11
2,a734U000000tKQyQAM,2021-11-01,2021-11-02,2022-01-01,940.45,North America,SMB,Lead,False,61,60
3,a734U000000tJF1QAM,2021-12-02,2022-01-03,2022-01-01,558.00,North America,SMB,BDR,True,30,-2
4,a734U000000svbDQAQ,2021-09-24,2021-09-28,2022-01-01,364.00,North America,Agency,Lead,False,99,95
...,...,...,...,...,...,...,...,...,...,...,...
5265,a734U000000uTn5QAE,2022-05-31,2022-06-17,2022-06-30,99.00,North America,SMB,Trial,False,30,13
5266,a734U000000uRmUQAU,2022-06-30,2022-06-30,2022-06-30,99.00,Australia Pacific,Mid,Trial,False,0,0
5267,a734U000000uThvQAE,2022-05-31,2022-06-23,2022-06-30,89.00,North America,SMB,Lead,False,30,7
5268,a734U000000uUCAQA2,2022-06-01,2022-06-22,2022-06-30,71.00,North America,SMB,Trial,False,29,8
5269,a734U000000uSGZQA2,2022-05-27,2022-07-01,2022-06-30,49.00,Europe,SMB,Trial,False,34,-1

In [109]:
na_df = sales_df.query('Region=="North America"')

In [110]:
na_df

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound,CreateDiff,QualDiff
0,a734U000000tRfRQAU,2021-07-14,2021-07-16,2022-01-01,2999.00,North America,Agency,Lead,False,171,169
1,a734U000000tQdAQAU,2021-12-21,2021-12-21,2022-01-01,957.00,North America,Agency,Self-Gen,True,11,11
2,a734U000000tKQyQAM,2021-11-01,2021-11-02,2022-01-01,940.45,North America,SMB,Lead,False,61,60
3,a734U000000tJF1QAM,2021-12-02,2022-01-03,2022-01-01,558.00,North America,SMB,BDR,True,30,-2
4,a734U000000svbDQAQ,2021-09-24,2021-09-28,2022-01-01,364.00,North America,Agency,Lead,False,99,95
...,...,...,...,...,...,...,...,...,...,...,...
5262,a734U000000uTlJQAU,2022-05-31,2022-06-10,2022-06-30,99.00,North America,SMB,Trial,False,30,20
5263,a734U000000uKaHQAU,2022-04-27,2022-04-28,2022-06-30,99.00,North America,SMB,Lead,False,64,63
5265,a734U000000uTn5QAE,2022-05-31,2022-06-17,2022-06-30,99.00,North America,SMB,Trial,False,30,13
5267,a734U000000uThvQAE,2022-05-31,2022-06-23,2022-06-30,89.00,North America,SMB,Lead,False,30,7
5268,a734U000000uUCAQA2,2022-06-01,2022-06-22,2022-06-30,71.00,North America,SMB,Trial,False,29,8

In [114]:
me_df = sales_df.query('Region=="Middle East"')
me_df

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound,CreateDiff,QualDiff
9,a734U000000tGyXQAU,2021-11-27,2022-01-10,2022-01-01,99.0,Middle East,SMB,Trial,False,35,-9
20,a734U000000tKvmQAE,2021-12-07,2021-12-07,2022-01-03,2445.0,Middle East,Mid,Lead,False,27,27
151,a734U000000tLMiQAM,2021-12-08,2022-01-05,2022-01-07,99.0,Middle East,SMB,Trial,False,30,2
196,a734U000000tGOtQAM,2021-11-25,2022-01-20,2022-01-10,99.0,Middle East,SMB,Trial,False,46,-10
202,a734U000000tMpvQAE,2021-12-12,2022-01-31,2022-01-11,279.0,Middle East,Agency,Trial,False,30,-20
...,...,...,...,...,...,...,...,...,...,...,...
4993,a734U000000uWvCQAU,2022-06-03,2022-06-07,2022-06-23,169.0,Middle East,SMB,Lead,False,20,16
5118,a734U000000ugyfQAA,2021-10-21,2021-11-17,2022-06-29,2500.0,Middle East,Mid,Trial,False,251,224
5127,a734U000000ufi2QAA,2022-06-07,2022-06-13,2022-06-29,1500.0,Middle East,Agency,Lead,False,22,16
5157,a734U000000uQJHQA2,2022-05-23,2022-06-29,2022-06-29,249.0,Middle East,Enterprise,Trial,False,37,0
5224,a734U000000uh1ZQAQ,2022-05-10,2022-05-16,2022-06-30,299.0,Middle East,Agency,Lead,False,51,45

In [116]:
eu_df =sales_df.query('Region=="Europe"')

In [117]:
sales_df

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound,CreateDiff,QualDiff
0,a734U000000tRfRQAU,2021-07-14,2021-07-16,2022-01-01,2999.00,North America,Agency,Lead,False,171,169
1,a734U000000tQdAQAU,2021-12-21,2021-12-21,2022-01-01,957.00,North America,Agency,Self-Gen,True,11,11
2,a734U000000tKQyQAM,2021-11-01,2021-11-02,2022-01-01,940.45,North America,SMB,Lead,False,61,60
3,a734U000000tJF1QAM,2021-12-02,2022-01-03,2022-01-01,558.00,North America,SMB,BDR,True,30,-2
4,a734U000000svbDQAQ,2021-09-24,2021-09-28,2022-01-01,364.00,North America,Agency,Lead,False,99,95
...,...,...,...,...,...,...,...,...,...,...,...
5265,a734U000000uTn5QAE,2022-05-31,2022-06-17,2022-06-30,99.00,North America,SMB,Trial,False,30,13
5266,a734U000000uRmUQAU,2022-06-30,2022-06-30,2022-06-30,99.00,Australia Pacific,Mid,Trial,False,0,0
5267,a734U000000uThvQAE,2022-05-31,2022-06-23,2022-06-30,89.00,North America,SMB,Lead,False,30,7
5268,a734U000000uUCAQA2,2022-06-01,2022-06-22,2022-06-30,71.00,North America,SMB,Trial,False,29,8
5269,a734U000000uSGZQA2,2022-05-27,2022-07-01,2022-06-30,49.00,Europe,SMB,Trial,False,34,-1

In [119]:
sales_df.to_csv('newsales.csv')

In [120]:
eu_df

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound,CreateDiff,QualDiff
10,a734U000000tJ0kQAE,2021-12-02,2022-01-10,2022-01-01,99.0,Europe,SMB,Trial,False,30,-9
19,a734U000000tJRCQA2,2021-12-03,2021-12-06,2022-01-02,99.0,Europe,SMB,Trial,False,30,27
43,a734U000000tHwIQAU,2021-11-30,2022-01-19,2022-01-03,89.0,Europe,SMB,Trial,False,34,-16
55,a734U000000stYHQAY,2021-09-29,2022-01-04,2022-01-04,279.0,Europe,Mid,Trial,False,97,0
56,a734U000000tPiEQAU,2021-12-20,2022-05-27,2022-01-04,169.0,Europe,SMB,Lead,False,15,-143
...,...,...,...,...,...,...,...,...,...,...,...
5249,a734U000000uTXbQAM,2022-05-31,2022-06-17,2022-06-30,149.0,Europe,Mid,Trial,False,30,13
5254,a734U000000uPOGQA2,2022-05-20,2022-06-30,2022-06-30,149.0,Europe,Agency,Trial,False,41,0
5255,a734U000000uTVuQAM,2022-05-31,2022-06-09,2022-06-30,149.0,Europe,Agency,Trial,False,30,21
5257,a734U000000uTGuQAM,2022-05-30,2022-06-01,2022-06-30,135.0,Europe,SMB,Trial,False,31,29
5269,a734U000000uSGZQA2,2022-05-27,2022-07-01,2022-06-30,49.0,Europe,SMB,Trial,False,34,-1

In [121]:
eu_create = eu_df["CreateDiff"].sum()

In [122]:
eu_create

33949

In [125]:
eu_smb = eu_df.query('Segment=="SMB"')

In [126]:
eu_smb

,Record_ID,Created_Date,Qualified_Date,Closed_Date,Revenue,Region,Segment,Opportunity_Source,Outbound,CreateDiff,QualDiff
10,a734U000000tJ0kQAE,2021-12-02,2022-01-10,2022-01-01,99.00,Europe,SMB,Trial,False,30,-9
19,a734U000000tJRCQA2,2021-12-03,2021-12-06,2022-01-02,99.00,Europe,SMB,Trial,False,30,27
43,a734U000000tHwIQAU,2021-11-30,2022-01-19,2022-01-03,89.00,Europe,SMB,Trial,False,34,-16
56,a734U000000tPiEQAU,2021-12-20,2022-05-27,2022-01-04,169.00,Europe,SMB,Lead,False,15,-143
90,a734U000000tKVFQA2,2021-12-06,2021-12-09,2022-01-05,169.00,Europe,SMB,Trial,False,30,27
...,...,...,...,...,...,...,...,...,...,...,...
5183,a734U000000uNo7QAE,2022-05-17,2022-05-23,2022-06-29,49.00,Europe,SMB,Trial,False,43,37
5195,a734U000000ugyzQAA,2022-02-21,2022-02-23,2022-06-30,1922.82,Europe,SMB,Lead,False,129,127
5234,a734U000000uTtmQAE,2022-05-31,2022-06-22,2022-06-30,169.00,Europe,SMB,Trial,False,30,8
5257,a734U000000uTGuQAM,2022-05-30,2022-06-01,2022-06-30,135.00,Europe,SMB,Trial,False,31,29
5269,a734U000000uSGZQA2,2022-05-27,2022-07-01,2022-06-30,49.00,Europe,SMB,Trial,False,34,-1

In [127]:
eu_smb.count()

Record_ID             370
Created_Date          370
Qualified_Date        370
Closed_Date           370
Revenue               370
Region                370
Segment               370
Opportunity_Source    370
Outbound              370
CreateDiff            370
QualDiff              370
dtype: int64

In [128]:
eu_sum = eu_smb["CreateDiff"].sum()

In [129]:
eu_sum

13961

In [130]:
eu_sum/370

37.73243243243243

In [131]:
eu_smb["Revenue"].sum()

86367.31